html {
    background-color: #5f45bb;
    background-image: linear-gradient(to bottom right, #660022, #070029);
    color: #fff;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}

.wallpaper {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url("../images/mountain.jpg");
    background-position: top;
    background-size: cover;
    opacity: 0.2;
    position: fixed;
}

.wallpaper,
.picture-image {
    display: block;
    left: 0;
    top: 0;
    width: 100%
}

.content {
    display: flex;
    position: relative;
    min-height: 100vfh;
    align-items: center;
}

.side {
    max-height: 20rem;
    max-width: 20rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.about {
    max-width: 36rem;
}

.picture {
    position: relative;
    width: 256px;
    height: 171px;
}

.picture-image {
    border-radius: 10000000px;
}

.name {
    font-size: 2.25rem;
    line-height: 1.125;
    margin-bottom: 0.5rem;
}

.job,
.button {
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.job {
    color: #aaaaaa;
    font-size: 0.75rem;
}

.hr {
    border-color: #aaaaaa;
    margin: 1.5rem 0;
}

.contact {
    margin-top: 0.5rem;
}

.button,
.social a {
    transform-origin: center;
    transition-duration: 100ms;
}

.button {
    margin-top: 0.5rem;
    background-color: #fff;
    border-radius: 999999px;
    color: #5f005f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    display: inline-block;
    line-height: 1;
    padding: 1.25em 2em;
    transition-property: box-shadow, transform;
    text-shadow: none;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    will-change: box-shadow, transform;
}

.button:hover {
    color: #fff;
    background-color: #5f005f;
}

.button:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: scale(0.9) translateY(-4px);
}

.social {
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.social li {
    height: 2rem;
    width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
}

.social a {
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    opacity: 0.5;
    transition-property: opacity, transform;
    will-change: opacity, transform;
}

.social a:hover {
    opacity: 1;
    transform: scale(1.25);
}

.social a:active {
    opacity: 1;
    transform: scale(1.1);
}

@media screen and (max-width: 799px) {
    .content {
        flex-direction: column;
        align-items: center;
        padding: 4rem 3rem 3rem 3rem;
        justify-content: space-evenly;
        height: 100%;
    }

    .about {
        margin-top: 4rem;
    }
}

@media screen and (min-width: 800px) {
    .content {
        justify-content: space-evenly;
        padding: 4rem;
    }

    .side {
        flex-grow: 0;
        flex-shrink: 0;
        height: 20rem;
        width: 20rem;
        padding-right: 4rem;
    }
}
